.PokeImage {
    background-size: 350px; 
    background-position: 10px center;
    background-repeat: no-repeat; /* Prevent the background image from repeating */
  }

.PokeImage img {
    @apply w-full h-full;
}